canvas {
    //border: 1px solid black;
    margin-left: 60px;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(199, 199, 199);
}

.b-box {
    display: flex; 
    justify-content: center; 
    flex-direction: column;
    align-items: center;
    height: 100vh;

    .display {
        font-size: 20px;
        font-weight: bold;
        padding: 10px 20px;
        background-color: rgb(26, 11, 37);
        border: 5px solid #9f4be4;
        border-bottom: none;
        color: #ffe600;
        min-width: 400px;
        text-align: center;
        transform: matrix(1, 0, 0, 1, -80, 0);
    }
}

.bottom-toolbox {
    padding: 10px 20px;
    display: flex;
    width: 400px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:#9f4be4;
    box-shadow: 0px 0px 10px rgb(204, 204, 204);
    transform: matrix(1, 0, 0, 1, -80, 0);
    
    button {
        margin-left: 8px;
    }
}

.card {
    margin-left: 20px;
    padding: 20px 5px;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(199, 199, 199);

    img {
        width: 150px;
        box-shadow: 0px 0px 10px rgb(212, 212, 212);
        cursor: pointer;
    }

    img:hover {
        transform: scale(1.2);
    }
}

.button-with-color {
    border: solid 4px white; 
    background-color: #ffd000; 
    width: 30px; 
    height: 30px;
    box-shadow: 0px 0px 10px rgb(209, 209, 209);
    transition: transform .2s;
}

.button-with-color:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.gray {
    background-color: gray;
}

.purple {
    background-color: #9f4be4;
}

.toolbox {
    height: stretch;
    position: absolute;
    box-shadow: 0px 0px 10px rgb(200, 200, 200);
    background-color: white;
    left: 0px;
    //top: 0px;

    .group {
        .item {
            padding: 20px 20px;
            text-align: center;
            color: rgb(31, 31, 31);
        }

        .item:hover {
            background-color: rgb(238, 238, 238);
            cursor: pointer;
        }
    }
}

.system-button {
    padding: 10px 20px;
    background-color: #ffffff;
    border: none;
    color: #9f4be4;
    font-weight: bold;
    cursor: pointer;
    float: right;
}

.system-button:hover {
    background-color: #7f3ab8;
    color: white;
}

.system-button:focus {
    outline: none;
}

.titleDisplay {
    margin: 0px 0px 10px 20px;
    padding: 10px 0px;
    background-color: #7f3ab8;
    color: white;
    font-weight: bold;
    width: 200px;
}